[submodule "alectrica_site"]
	path = alectrica_site
	url = ./alectrica_site
[submodule "bot"]
	path = bot
	url = ./bot
[submodule "pago"]
	path = pago
	url = ./pago
[submodule "aelectrico_site"]
	path = aelectrico_site
	url = ./aelectrico_site
[submodule "repair"]
	path = repair
	url = ./repair
